<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Uploader</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <style>
        .document_file{
            background-color: rgb(203, 231, 177); 
            width:500px;
            padding: 5px;
        }
        .document_add{
            background-color: rgb(203, 231, 177); 
            width:500px;
            padding: 5px;
            text-align: right;
        }
        .document_submit{
            padding: 5px;
            width:500px;
            background-color: orange;
        }

    </style>
    <script>
        const URL = '../ajaxUpload/a';
        var number
        var file_id = 1;
        var doc_id = 0;
        var user_id = '0003';

        
        
        function clickMoreFile() {
            const file_container = document.getElementById("container");
            var number = file_container.childElementCount;

            var obj = document.createElement("INPUT");
            const obj_id = "f_"+file_id;

            console.log("clickMore() :"+obj_id);
            obj.setAttribute("type", "file");
            obj.setAttribute("name", "files");
            
            obj.setAttribute("onchange","uploadFile(this,'"+obj_id+"')");

            var divObj = document.createElement("DIV");
            divObj.setAttribute("id", obj_id);
            divObj.setAttribute("class", "document_file");
            divObj.appendChild(obj);
            
            file_container.appendChild(divObj);
            file_id++;
        }
        function displayFile(obj){
            var files = document.getElementsByName('file');
            console.log(files.length);
            console.log(files);
        }

        async function uploadFile(obj,file_id) {
            console.log('id:'+file_id);
            let formData = new FormData();
            const file = obj.files[0];
            console.log(file.name);
            let user_id = '0003';
            let doc_id ='A001';
            
            formData.append("file", obj.files[0]);
            formData.append('user_id', user_id);
            formData.append('doc_id', doc_id);

            const ans = fetch(URL, {
                method: "POST", 
                body: formData
            }).then(function(res){ 
                console.log("--------------------------------then------");
                console.log(res.json());
            } ).catch(function(err){
                console.log("--------------------------------Error------");
                console.log(err);
            }).finally(async function(res){
                obj.remove();    
                newElement(file_id,file.name);
                console.log("--------------------------------Final------");
            });
        }
        function newElement(file_id,fileName){
            // document.getElementById("filesLibrary").innerHTML='<label>'+file.name+'<label>';            
            let objDiv = document.getElementById(file_id);
            let objSpan = document.createElement("SPAN");
            objSpan.innerHTML = fileName+" ";
            let objSpan2 = document.createElement("SPAN");
            objSpan2.innerHTML = '<a href="#" onclick="alert(\"WOW\")"><img src="../img/delete.svg" alt="Delete" width="20" height="20"/></a>';

            objDiv.appendChild(objSpan);
            objDiv.appendChild(objSpan2);
        }

    </script>
    
</head>
<body>
    <h1>Please upload file</h1>
    <div id="container">
        <div>Ajax</div>
        <div class="document_file" id ="f_0">
            <input type="file" name="files" onchange="uploadFile(this,'f_0')"/>      
        </div>        
    </div>
    <div>
        <div class="document_add">
            <a href="#" onclick="clickMoreFile()">+more</a>
        </div>
    </div>
</body>
</html>